@import url('http://fonts.googleapis.com/css?family=Arvo:300');
@import url('http://fonts.googleapis.com/css?family=Dosis');

body{
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background: #ffffff  repeat top left;
    padding:0px;
    overflow-y: scroll;
    text-align: left;
}

.main_content{
    width: 100%;
    height: 100%;
    position: relative;
    /*text-align: center;*/
}

.wapper{
    width: 100%;
    height: 100%;
     padding:10px;
    position: relative;  
} 



h1, h2, h3 {
    font-family: "Arvo", helvetica, arial, sans-serif;
    font-weight: normal;
}

h2 a {
    color: #333;
    text-decoration: none;
}

h2 a:hover, h2 a:active, h2 a:focus {
    color: #261612;
    text-decoration: none;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

a:hover, a:active, a:focus {
    color: #261612;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.logo {
    float:left;
    max-width: 75px;
    margin: 10px 10px 10px 10px;
}


p.created_at {
    margin: 0;
    padding: 0;

}

label,input {
    display: block;
    margin-top: 10px;
}

/*.flash-message {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    text-align: center;
    padding: 5px;
}*/



ul {
    font-size:14px;
    line-height:24x;
    margin:0;
    padding:0;
    display:inline-block;
    list-style-type: none;
    color:#d8d8d8;
    text-align:center;

}

   ul li {
        display: inline;
        list-style-type: none;
        list-style-type: none;
        padding: 0px 0px 0px 0px;
        margin:3px;
}

 
img {
    max-width:150;
}

label,input {
display:block;
margin-top:10px;
}

input[type=checkbox] {
display:inline;
}

a {
    padding: 0px 1px;
    color: rgb(102,0,0);
    text-decoration:none;
}

a:link, a:visited, a:active, a:hover {
text-decoration:none;
}


.equipment {
border:1px solid #ccc;
padding:15px;
padding-top:0px;
float:left;
width:325px;
margin-right:20px;
margin-bottom:25px;
display:inline-block;
height:375px;
vertical-align: top;
 *display: inline;
    *zoom: 1;
}

.categories {
color:red;
font-family:consolas;
}

.category {
background-color:#F8F8F8;
padding:2px;
font-size:14px;
font-family:consolas;
margin:2px;
display:inline-block;
}

.cart {
float:right;
width:300px;
margin-top:20px;
margin-right:250px;
margin-bottom:20px;
height:400px;
}

/*.footer {
    width: 100%;
    height: 100%;
    float:right;
    border-top: 0px solid #ccc;
    margin: auto 0px;  
    margin-right:150px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}*/

