
@import url('http://fonts.googleapis.com/css?family=Arvo:100');
@import url('http://fonts.googleapis.com/css?family=Dosis');

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 18px;
    font-family: "Dosis", helvetica, arial, sans-serif;
    font-weight: normal;
}

h1, h2, h3 {
    font-family: "Arvo", helvetica, arial, sans-serif;
    font-weight: normal;
}

h2 a {
    color: #333;
    text-decoration: none;
}

h2 a:hover, h2 a:active, h2 a:focus {
    color: #4288CE;
    text-decoration: none;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}


a:hover, a:active, a:focus {
    color: #3C338D;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header {

    text-align:center;
    padding: 5px 0;
    background: #fff;
    margin-bottom: 0px;
    color: white;
    background: #222222;

}

main {
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid #ccc;
    margin: 40px 0;
    padding-top: 20px;
    text-align: right;
}

.container {
    max-width: auto;
    margin: 0 auto;
    width: 100%;
    padding: 0 .1%;
}



p.created_at {
    margin: 0;
    padding: 0;

}

.logo {

    float:left;
    max-width: 75px;
    margin: 5px 0px 5px 20px;
}

label,input {
    display: block;
    margin-top: 10px;
}

.flash-message {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    text-align: center;
    padding: 5px;
}
.top-container{
        width: 100%;
        background-color: #9C1235;
        display: block;
        margin-top: 1px;
        padding: 5px;
        text-align: center;

}

.top_nav ul {
    font-size:14px;
    line-height:24x;
    margin:0;
    padding:0;
    display:inline-block;
    list-style-type: none;
    color:#d8d8d8;
    text-align:center;

}

    .top_nav ul li {
        display: inline;
        list-style-type: none;
        list-style-type: none;
        padding: 0px 0px 0px 0px;
        margin:3px;
}

 .top_nav a {
        padding: 0px 1px;
        color: rgb(254,231,154);
        text-decoration:none;
}

nav  {

    text-align: right;
    font-size:12px;
    line-height:20px;
    margin-right:80px;
    padding:0;

}

nav ul  {
        margin-right: 10px;
}
nav ul li {

    display: inline;
    list-style-type: none;
    padding: 5px 0px 5px 5px; display: inline;
}
nav a{color: rgb(254,231,154);
}

.text-login{
    text-align: center;
    display:inline-block;
    float:center;
    font: bold 18px Helvetica, Arial, sans-serif;
    height: 35px;
    width: 100%;
}

.nav-login{    
    padding:10px;
    list-style-type: none;
    text-align: center;
    display:inline-block;
    font: bold 18px Helvetica, Arial, sans-serif;
    float:center;
    width: 100%;
   }


 .nav-login ul {
                background:#fad990;
                float:center;
                border:1px dotted black;
                 width:500px;
                }

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}


